.chart-container {
  background: white;
  border-radius: 14px;
  padding: 20px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.dark .employee-chart{

color:white;

}

.dark .employee-chart h2{

color:white;

}